<h2>Modifier les infos de l'utilisateur</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
      <%= f.input :nom, label: 'Nom', input_html: {autofocus: true} %>
  </div>
  
  <div class="field">
      <%= f.input :prenom, label: 'Prénom' %>
  </div>
  
  <div class="field">
      <%= f.input :pseudo, label: 'Pseudo' %>
  </div>
  
  <div class="field">
   <%= f.input :email, label: 'Adresse mail', input_html: {autocomplete: "email"} %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
   <%= f.input :password, label: 'Nouveau mot de passe (laissez en blanc si vous ne voulez pas changer de mot de passe)', input_html: {autocomplete: "new-password"} %>
    <% if @minimum_password_length %>
      <br />
      <em>Le mot de passe doit comprendre au minimum 8 caractères</em>
    <% end %>
  </div>

  <div class="field">
   <%= f.input :password_confirmation, label: "Confirmation de nouveau mot de passe", input_html: {autocomplete: "new-password"} %>
  </div>

  <div class="field">
   <%= f.input :current_password, label: "Votre ancien mot de passe (on en a besoin pour pouvoir vous enregistrer le nouveau)", input_hml: {autocomplete: "current-password"} %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Mettre à jour" %>
  </div>
<% end %>

<h3>Supprimer mon compte</h3>

<p>Envie de supprimer votre compte ? <%= link_to 'Supprimer mon compte', registration_path(resource_name), data: {confirm: "Êtes-vous sûr(e) de supprimer le compte"}, method: :delete %></p>

<%= link_to "Retour", :back %>
