<%= simple_form_for @decision do |f| %>

  <div class="field">
    <%= f.input :titre, label: 'Titre de la décision' %>
  </div>

  <div class="field">
    <%= f.input :description, label: 'Description de la décision', input_html: {cols: '50', rows: '10'} %>
  </div>

  <div class="field">
    <%= f.association :theme, label_method: :nom, label: 'Thème', as: :select %>
  </div>
  
  <div class="field">
      <%= f.association :futur, label_method: :titre, label: 'Futur lié', as: :select, input_html: {multiple: false, required: true} %>
  </div>
  
  <div class="field">
      <%= f.input :first_decision, label: 'Première décision' %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
