

<p>
  <strong>Titre:</strong>
  <%= @decision.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @decision.description %>
</p>

<p>
  <strong>Thème:</strong>
  <%= @decision.theme.nom %>
</p>

<p>
    <strong>Futur lié:</strong>
    <%= @decision.futur.titre %>
</p>

<p>
    <strong>Description du futur:</strong>
    <%= @decision.futur.description %>
</p>

<p>
    <strong>Second futur:</strong>
    <% if @decision.second_futur.length > 0 %>
    <%= @decision.second_futur %>
    <% else %>
    Pas de futur suivant
    <% end %>
</p>

<p>
    <strong>Première décision:</strong>
    <%= booleanToText(@decision.first_decision) %>
</p>

<%= link_to 'Modifier', edit_decision_path(@decision), class: 'btn' %> |
<%= link_to 'Retour', decisions_path, class: 'btn' %>
