<%= simple_form_for @theme do |f| %>

  <div class="field">
    <%= f.input :nom, label: 'Nom' %>
  </div>

  <div class="field">
    <%= f.input :description, label: 'Description', input_html: {cols: '50', rows: '10'} %>
  </div>
  
  <div class="field">
      <%= f.input :texte_depart, label: 'Texte de départ', input_html: {cols: '50', rows: '10'} %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
