

<h1>Thèmes</h1>

<%= will_paginate @futurs, renderer: @renderer %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Premier futur</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.nom %></td>
        <td><%= texteCourt(theme.description) %></td>
        <td><%= texteCourt(theme.futur.titre) %></td>
        <td>
        <% if can? :read, @theme %>
        <%= link_to 'Afficher', theme, class: 'btn btn-primary' %>
        <% end %>
        </td>
        <td>
        <% if can? :update, @theme %>
        <%= link_to 'Modifier', edit_theme_path(theme), class: 'btn' %>
        <% end %>
        </td>
        <td>
        <% if can? :destroy, @theme %>
        <%= link_to 'Supprimer', theme, class: 'btn btn-error', method: :delete, data: { confirm: 'Êtes-vous sûr(e) de supprimer ce thème ?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @theme %>
<%= link_to 'Créer un thème', new_theme_path, class: 'btn btn-success' %>
<% end %>


<%= link_to 'Retour au jeu', root_path, class: 'btn' %>