<p>
  <strong>Nom:</strong>
  <%= @theme.nom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @theme.description %>
</p>

<p>
    <strong>Futur de départ:</strong>
    <%= @theme.futur.titre %>
</p>

<p>
    <strong>Description du futur de départ:</strong>
    <%= @theme.futur.description %>
</p>

<%= link_to 'Modifier', edit_theme_path(@theme), class: 'btn' %> |
<%= link_to 'Retour', themes_path, class: 'btn' %>