<h2>Connexion</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
   <%= f.input :email, label: 'Adresse mail', as: :email, input_html: {autofocus: true, autocomplete: "mail"} %>
  </div>

  <div class="field">
    <%= f.input :password, label: "Mot de passe", input_html: {autocomplete: "current_password"} %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Se souvenir de moi' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.button :submit, 'Se connecter' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
