
<h1>Futurs</h1>

<%= will_paginate @futurs, renderer: @renderer %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @futurs.each do |futur| %>
      <tr>
        <td><%= futur.titre %></td>
        <td><%= texteCourt(futur.description) %></td>
        <td>
        <% if can? :show, @futur %>
        <%= link_to 'Afficher', futur, class: 'btn btn-primary' %>
        <% end %>
        </td>
        <td>
        <% if can? :update, @futur %>
        <%= link_to 'Modifier', edit_futur_path(futur), class: 'btn' %>
        <% end %>
        </td>
        <td>
        <% if can? :destroy, @futur %>
        <%= link_to 'Supprimer', futur, class: 'btn btn-error', method: :delete, data: { confirm: 'Êtes-vous sûr(e) de supprimer ce futur ?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @futur %>
<%= link_to 'Créer un futur', new_futur_path, class: 'btn btn-success' %>
<% end %>


<%= link_to 'Retour au jeu', root_url, class: 'btn' %>