<!DOCTYPE html>
<html>
  <head>
    <title>Meet The Future</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
   <%= link_to 'Décisions', decisions_url %>
   <%= link_to 'Thèmes', themes_url %>
   <%= link_to 'Futurs', futurs_url %>
   <section>
       <% if user_signed_in? %>
        <%= link_to current_user.pseudo, edit_user_registration_url %> - <%= link_to 'Se déconnecter', destroy_user_session_path, data: {confirm: "Voulez-vous vous déconnecter ?"}, method: :delete %>
       <% else %>
       <%= link_to 'Se connecter', new_user_session_url %> - <%= link_to "S'inscrire", new_user_registration_url %>
       <% end %>
   </section>
   
   <% flash.each do |name, msg| %>
   <blockquote><%= msg %></blockquote>
   <% end %> <br><br>
   
    <%= yield %>
  </body>
</html>
